
main {
    margin: 20px;
}

ul#main-menu li a {
    text-decoration: none;
    color: #324376;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: inline;
    margin-bottom: 60px;
}

#main-menu{
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

.hero-section {
   background-color: #FAF9F9; 
   padding: 30px 20px;
}

.hero-section p {
    font-weight: 500;
    font-size: 24px;
}

nav {
    margin-bottom: 30px;
}

h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 60px;
    line-height: 1.1em;
    color: #F76C5E;
}

h2 { 
    font-family: 'Bodoni Moda', serif;
    font-size: 34px;
    line-height: 1.2em;
    color: #324376;
}

h3 {
    color: #F76C5E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 21px;
    line-height: 0.9em;
}

h4 {
    color: #324376;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 21px;
    line-height: 0.9em;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6em;
}

img {
    padding: 30px 0px;
    width: 600px;
}

.p1-intro-extra {
    padding: 0px 0px 5px 0px ;
}


form {
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
}

.contact-form label{
    display: block;
    color:#324376;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 5px;
}

.contact-form-checkbox label {
    display: inline;
    margin-right: 20px;
}

.contact-form-radiobtn label {
    display: inline;
}

 #website {
     width: 80%;
     padding: 10px 8px;
     border-style: solid 1px lightgray;
     margin-bottom: 20px;
 }

 #myfile {
    margin-bottom: 20px;
 }

.contact-details input, .message-group textarea {
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    width: 80%;
    margin-bottom: 20px;
    color: black;
    border-style: solid 1px lightgray;
}


.button {
    background-color:#F76C5E;
    color:#FAF9F9;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}


footer {
    background-color: #324376;
    padding: 60px 20px;
    margin-top: 60px;
    color: #EEF1EF;
}

ul#footer-menu li a {
    text-decoration: none;
    color: #EEF1EF;
    line-height: 1.6em;
}

a#footer-menu {
    text-decoration: none;
    color: #EEF1EF;
    line-height: 1.6em;
}

#footer-menu {
    padding: 0;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

ol.about-features li {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

/*media queries*/

@media (min-width: 1024px) {
    body {
        background-color:#e1e0e0;
    }
    p {
        color:rebeccapurple;
        font-size: 16px;
        line-height: 1.4em;
    }
}